/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$green                      : #709176;
$dark-green                 : #14281D;
$mid-green                  : #023C40;
$old-rose                  : #C58882;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$old-rose};
    --global-bg-color                   : #F8F6F5;
    --global-border-color               : #{$mid-green};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$dark-green};
    --global-fig-caption-color          : mix(#fff,  #{$dark-green}, 25%);
    --global-link-color                 : #023C40;
    --global-link-color-hover           : #{$old-rose};
    --global-link-color-visited         : #{$old-rose};  
    --global-masthead-link-color        : #{$mid-green};
    --global-masthead-link-color-hover  : mix(#000, #{$green}, 25%);    
    --global-text-color                 : #{$dark-green};
    --global-text-color-light           : #{$green};
    --global-thead-color                : #{$old-rose};
}

/* Body text */
body, .page__content {
  color: #14281D; /* forest green or whatever you want */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #C58882; /* your rose accent */
}
